<center>
<%= stylesheet_link_tag "table.css" %>
<div>
  <%= link_to "Back to answers", users_path %>
</div>
</br>
<table>
<tr>
<th>ID</th>
<th>First_name</th>
<th>Last_name</th>
<th>Email</th>
<th>Age</th>
<th>Gender</th>
<th>Country</th>
<th>Company_name</th>
<th>No_of_employee</th>
<th>Address</th>
<th>Department_name</th>
<th>Phone_number</th>
<th>Project_name</th>
<th>Role_name</th>
<th>Role_code</th>
<th>View</th>
</tr>
<%= render @user %>
</table>
</center>