<center>
<%= stylesheet_link_tag "table.css" %>
<div>
  <%= link_to "Back to answers", users_path %>
</div>
</br>
<table>
<tr>
<th>ID</th>
<th>User_id</th>
<th>First_name</th>
<th>Last_name</th>
<th>Email</th>
<th>Age</th>
<th>Gender</th>
<th>Country</th>
<th>View</th>
</tr>
<%= render @user %>
</table>
</center>